body {
		margin: 0;
		padding: 0;
	}
	:root {
		--web-view-ids: Homepage;
	}
	#Homepage * {
		margin: 0;
		padding: 0;
	}
	#Homepage {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 1920px;
		height: 12215px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		opacity: 1;
		--web-view-name: Homepage;
		--web-view-id: Homepage;
		--web-enable-deep-linking: true;
	}
	#contacts {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 548.498px;
		left: 66.5px;
		top: 11612.002px;
		overflow: visible;
	}
	#Path_39 {
		opacity: 1;
		fill: rgba(254,208,14,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_39 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 1775.866px;
		height: 546.71px;
	}
	#Emily_Carr_University_Juri_Kim {
		opacity: 1;
		position: absolute;
		left: 948.5px;
		top: 161.998px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 759px;
		height: 335px;
		text-align: right;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 100px;
		color: rgba(255,255,255,1);
	}
	#Line_3 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		top: 55.498px;
		left: 0px;
		width: 859.946px;
		height: 95.947px;
	}
	#Line_6 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_6 {
		overflow: visible;
		position: absolute;
		top: 3.498px;
		left: 0px;
		width: 1785.873px;
		height: 173.873px;
	}
	#Line_10 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		top: 166.498px;
		left: 0px;
		width: 10px;
		height: 392px;
	}
	#Line_11 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		top: 3.498px;
		left: 1775px;
		width: 10px;
		height: 555px;
	}
	#Line_12 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12 {
		overflow: visible;
		position: absolute;
		top: 548.498px;
		left: 0px;
		width: 1785px;
		height: 10px;
	}
	#wards {
		opacity: 1;
		position: absolute;
		width: 1920px;
		height: 2586px;
		left: -3px;
		top: 9166.5px;
		overflow: visible;
	}
	#Path_36 {
		opacity: 1;
		fill: rgba(19,79,168,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_36 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 1546px;
		left: 963.5px;
		width: 883.11px;
		height: 954.851px;
	}
	#Path_33 {
		opacity: 1;
		fill: rgba(19,79,168,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_33 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 1406px;
		left: 72.5px;
		width: 844.868px;
		height: 1179.245px;
	}
	#Path_31 {
		opacity: 1;
		fill: rgba(19,79,168,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_31 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 162px;
		left: 73.5px;
		width: 1772.642px;
		height: 1456.108px;
	}
	#Path_29 {
		opacity: 1;
		fill: rgba(19,79,168,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_29 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 73.5px;
		width: 1772.311px;
		height: 278.093px;
	}
	#Line_69 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_69 {
		overflow: visible;
		position: absolute;
		top: 3px;
		left: 73.5px;
		width: 1780px;
		height: 10px;
	}
	#Line_13 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13 {
		overflow: visible;
		position: absolute;
		top: 1406px;
		left: 69.5px;
		width: 10px;
		height: 1190px;
	}
	#Line_16 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_16 {
		overflow: visible;
		position: absolute;
		top: 1546px;
		left: 918.5px;
		width: 10px;
		height: 965px;
	}
	#Line_20 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_20 {
		overflow: visible;
		position: absolute;
		top: 2423px;
		left: 963.5px;
		width: 891.843px;
		height: 88.844px;
	}
	#Line_48 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_48 {
		overflow: visible;
		position: absolute;
		top: 3px;
		left: 73.5px;
		width: 10px;
		height: 135px;
	}
	#Line_50 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_50 {
		overflow: visible;
		position: absolute;
		top: 3px;
		left: 1843.5px;
		width: 10px;
		height: 286px;
	}
	#Line_51 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_51 {
		overflow: visible;
		position: absolute;
		top: 128px;
		left: 73.5px;
		width: 1780.814px;
		height: 161.814px;
	}
	#Line_52 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_52 {
		overflow: visible;
		position: absolute;
		top: 1406px;
		left: 71.5px;
		width: 858.497px;
		height: 151.496px;
	}
	#Line_54 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_54 {
		overflow: visible;
		position: absolute;
		top: 1546px;
		left: 963.5px;
		width: 10px;
		height: 965px;
	}
	#Line_55 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_55 {
		overflow: visible;
		position: absolute;
		top: 1687px;
		left: 1844.5px;
		width: 10px;
		height: 746px;
	}
	#Line_56 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_56 {
		overflow: visible;
		position: absolute;
		top: 1546px;
		left: 963.5px;
		width: 892.455px;
		height: 152.455px;
	}
	#Line_57 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_57 {
		overflow: visible;
		position: absolute;
		top: 162px;
		left: 73.5px;
		width: 1780.814px;
		height: 161.814px;
	}
	#Line_58 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_58 {
		overflow: visible;
		position: absolute;
		top: 1343px;
		left: 73.5px;
		width: 1782.411px;
		height: 285.412px;
	}
	#Line_59 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_59 {
		overflow: visible;
		position: absolute;
		top: 162px;
		left: 73.5px;
		width: 10px;
		height: 1190px;
	}
	#Line_60 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_60 {
		overflow: visible;
		position: absolute;
		top: 313px;
		left: 1844.5px;
		width: 10px;
		height: 1314px;
	}
	#Line_61 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_61 {
		overflow: visible;
		position: absolute;
		top: 172px;
		left: 73.5px;
		width: 1780.814px;
		height: 161.814px;
	}
	#bubble2 {
		opacity: 1;
		fill: url(#bubble2_A0_Rectangle_2_pattern);
	}
	.bubble2 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 2326px;
		left: 0px;
		top: 108.5px;
	}
	#Line_62 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 8px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_62 {
		overflow: visible;
		position: absolute;
		top: 170px;
		left: 82.5px;
		width: 8px;
		height: 352px;
	}
	#Line_63 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 15px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_63 {
		overflow: visible;
		position: absolute;
		top: 174px;
		left: 74.5px;
		width: 1771.275px;
		height: 165.945px;
	}
	#AWARDS {
		opacity: 1;
		position: absolute;
		left: 802px;
		top: 42.5px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 305.799px;
		height: 118px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 120px;
		color: rgba(24,154,29,1);
	}
	#AWARDS_A0_Text_3 {
		opacity: 1;
		position: absolute;
		left: 807px;
		top: 48.5px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 305.799px;
		height: 118px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 120px;
		color: rgba(255,255,255,1);
	}
	#roy_benday {
		opacity: 1;
		fill: url(#roy_benday_A0_Rectangle_4_pattern);
	}
	.roy_benday {
		position: absolute;
		overflow: visible;
		width: 1230px;
		height: 1484px;
		left: -121px;
		top: 10232px;
	}
	#wards_text {
		opacity: 1;
		position: absolute;
		width: 1796px;
		height: 1472px;
		left: 128px;
		top: 9428px;
		overflow: visible;
	}
	#Amici_de_Barcelona__from_Mayor {
		opacity: 1;
		position: absolute;
		left: 1026px;
		top: 743px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 682px;
		height: 270px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	#Kyoto_Prize__Inamori_Foundatio {
		opacity: 1;
		position: absolute;
		left: 1070px;
		top: 1039px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 699px;
		height: 206px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	#National_Medal_of_Arts__Washin {
		opacity: 1;
		position: absolute;
		left: 1070px;
		top: 1321px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 727px;
		height: 151px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	#I_received____________________ {
		opacity: 1;
		position: absolute;
		left: 0px;
		top: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 332px;
		height: 103px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 80px;
		color: rgba(0,0,0,1);
	}
	#_Skowhegan_Medal_for_Painting_ {
		opacity: 1;
		position: absolute;
		left: 0px;
		top: 70px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 1726px;
		height: 662px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	#CONTACTS {
		opacity: 1;
		position: absolute;
		left: 1469px;
		top: 11671px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 309px;
		height: 94px;
		text-align: right;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 100px;
		color: rgba(188,76,17,1);
	}
	#CONTACTS_A0_Text_10 {
		opacity: 1;
		position: absolute;
		left: 1476px;
		top: 11675px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 309px;
		height: 94px;
		text-align: right;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 100px;
		color: rgba(255,255,255,1);
	}
	#works_photos {
		opacity: 1;
		position: absolute;
		width: 1885px;
		height: 6277px;
		left: 73px;
		top: 2849px;
		overflow: visible;
	}
	#ID014 {
		opacity: 1;
		fill: url(https://i.pinimg.com/originals/30/a7/3f/30a73f7a8c538bdab61c735ccdadfdf6.jpg);
	}
	.ID014 {
		position: absolute;
		overflow: hidden;
		width: 870px;
		height: 874px;
		left: 899px;
		top: 5400px;
	}
	#ID013 {
		opacity: 1;
		fill: url(https://www.imageduplicator.com/images/works/0375_01m.jpg);
	}
	.ID013 {
		position: absolute;
		overflow: hidden;
		width: 873px;
		height: 874px;
		left: 6px;
		top: 5400px;
	}
	#ID012 {
		opacity: 1;
		fill: url(https://www.guggenheimstore.org/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/i/lichtenstein-grrrr-poster_1.jpg);
	}
	.ID012 {
		position: absolute;
		overflow: hidden;
		width: 873px;
		height: 909px;
		left: 6px;
		top: 4486px;
	}
	#ID011 {
		opacity: 1;
		fill: url(https://uploads0.wikiart.org/images/roy-lichtenstein/we-rose-up-slowly-1964.jpg);
	}
	.ID011 {
		position: absolute;
		overflow: hidden;
		width: 875px;
		height: 3000px;
		left: 0px;
		top: 2200px;
	}
	#ID010 {
		opacity: 1;
		fill: url(https://i.pinimg.com/originals/ba/93/61/ba9361b465101fa2034319eaaf8646d0.jpg);
	}
	.ID010 {
		position: absolute;
		overflow: hidden;
		width: 867px;
		height: 870px;
		left: 9762px;
		top: 6446px;
	}
	#ID009 {
		opacity: 1;
		fill: url(https://artsation.com/images/RoyLichtensteinHopel.jpg);
	}
	.ID009 {
		position: absolute;
		overflow: hidden;
		width: 864px;
		height: 864px;
		left: 81px;
		top: 6452px;
	}
	#ID008 {
		opacity: 1;
		fill: url(https://www.sartle.com/media/artwork/drowning-girl-roy-lichtenstein.jpg);
	}
	.ID008 {
		position: absolute;
		overflow: visible;
		width: 867px;
		height: 863.5px;
		left: 972px;
		top: 5556px;
	}
	#ID007 {
		opacity: 1;
		fill: url(https://guyhepner.com/wp-content/uploads/2018/04/crak-lichtenstein.jpeg);
	}
	.ID007 {
		position: absolute;
		overflow: visible;
		width: 872px;
		height: 870px;
		left: 0px;
		top: 2700px;
	}
	#ID006 {
		opacity: 1;
		fill: url(https://www.nationalgalleries.org/sites/default/files/styles/feature_header/public/externals/6376.jpg?itok=hITB83vZ);
	}
	.ID006 {
		position: absolute;
		overflow: visible;
		width: 866.5px;
		height: 870px;
		left: 899px;
		top: 1798px;
	}
	#ID005 {
		opacity: 1;
		fill: url(#ID005_A0_Rectangle_24_pattern);
	}
	.ID005 {
		position: absolute;
		overflow: visible;
		width: 866px;
		height: 870px;
		left: 6px;
		top: 1798px;
	}
	#ID004 {
		opacity: 1;
		fill: url(#ID004_A0_Rectangle_26_pattern);
	}
	.ID004 {
		position: absolute;
		overflow: visible;
		width: 866.5px;
		height: 870px;
		left: 899px;
		top: 900px;
	}
	#ID003 {
		opacity: 1;
		fill: url(#ID003_A0_Rectangle_28_pattern);
	}
	.ID003 {
		position: absolute;
		overflow: visible;
		width: 868px;
		height: 864.5px;
		left: 3px;
		top: 900px;
	}
	#ID002 {
		opacity: 1;
		fill: url(#ID002_A0_Rectangle_30_pattern);
	}
	.ID002 {
		position: absolute;
		overflow: visible;
		width: 865.5px;
		height: 869.5px;
		left: 900px;
		top: 0px;
	}
	#ID001 {
		opacity: 1;
		fill: url(#ID001_A0_Rectangle_32_pattern);
	}
	.ID001 {
		position: absolute;
		overflow: visible;
		width: 868px;
		height: 869px;
		left: 5px;
		top: 0px;
	}
	#Repeat_Grid_1 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 6300px;
		left: 73px;
		top: 2840px;
		overflow: hidden;
	}
	#Repeat_Grid_1_0 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 881px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_9 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 894px;
		top: 0px;
	}
	#Rectangle_10 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 0px;
		top: 0px;
	}
	#Repeat_Grid_1_1 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 881px;
		left: 0px;
		top: 901px;
		overflow: visible;
	}
	#Rectangle_9_A0_Rectangle_35 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9_A0_Rectangle_35 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 894px;
		top: 0px;
	}
	#Rectangle_10_A0_Rectangle_36 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10_A0_Rectangle_36 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 0px;
		top: 0px;
	}
	#Repeat_Grid_1_2 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 881px;
		left: 0px;
		top: 1802px;
		overflow: visible;
	}
	#Rectangle_9_A0_Rectangle_37 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9_A0_Rectangle_37 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 894px;
		top: 0px;
	}
	#Rectangle_10_A0_Rectangle_38 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10_A0_Rectangle_38 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 0px;
		top: 0px;
	}
	#Repeat_Grid_1_3 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 881px;
		left: 0px;
		top: 2703px;
		overflow: visible;
	}
	#Rectangle_9_A0_Rectangle_39 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9_A0_Rectangle_39 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 894px;
		top: 0px;
	}
	#Rectangle_10_A0_Rectangle_40 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10_A0_Rectangle_40 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 0px;
		top: 0px;
	}
	#Repeat_Grid_1_4 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 881px;
		left: 0px;
		top: 3604px;
		overflow: visible;
	}
	#Rectangle_9_A0_Rectangle_41 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9_A0_Rectangle_41 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 894px;
		top: 0px;
	}
	#Rectangle_10_A0_Rectangle_42 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10_A0_Rectangle_42 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 0px;
		top: 0px;
	}
	#Repeat_Grid_1_5 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 881px;
		left: 0px;
		top: 4505px;
		overflow: visible;
	}
	#Rectangle_9_A0_Rectangle_43 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9_A0_Rectangle_43 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 894px;
		top: 0px;
	}
	#Rectangle_10_A0_Rectangle_44 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10_A0_Rectangle_44 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 0px;
		top: 0px;
	}
	#Repeat_Grid_1_6 {
		opacity: 1;
		position: absolute;
		width: 1775px;
		height: 881px;
		left: 0px;
		top: 5406px;
		overflow: visible;
	}
	#Rectangle_9_A0_Rectangle_45 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9_A0_Rectangle_45 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 894px;
		top: 0px;
	}
	#Rectangle_10_A0_Rectangle_46 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_10_A0_Rectangle_46 {
		position: absolute;
		overflow: visible;
		width: 881px;
		height: 881px;
		left: 0px;
		top: 0px;
	}
	#works {
		opacity: 1;
		position: absolute;
		width: 1771px;
		height: 288px;
		left: 73.5px;
		top: 2525.5px;
		overflow: visible;
	}
	#Path_40 {
		opacity: 1;
		fill: rgba(192,191,197,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_40 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0.734px;
		left: 0px;
		width: 1771.414px;
		height: 286.023px;
	}
	#Line_39 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_39 {
		overflow: visible;
		position: absolute;
		top: 288px;
		left: 0px;
		width: 1781px;
		height: 10px;
	}
	#Line_40 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_40 {
		overflow: visible;
		position: absolute;
		top: 99px;
		left: 0px;
		width: 10px;
		height: 199px;
	}
	#Line_41 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_41 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 1771px;
		width: 10px;
		height: 298px;
	}
	#Line_68 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_68 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 3px;
		width: 1778.543px;
		height: 109.543px;
	}
	#WORKS {
		opacity: 1;
		position: absolute;
		left: 761.5px;
		top: 99.5px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 260px;
		height: 118px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 120px;
		color: rgba(188,26,22,1);
	}
	#WORKS_A0_Text_12 {
		opacity: 1;
		position: absolute;
		left: 768.5px;
		top: 110.5px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 253px;
		height: 118px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 120px;
		color: rgba(255,255,255,1);
	}
	#profil_text {
		opacity: 1;
		position: absolute;
		width: 1934px;
		height: 2531.061px;
		left: -6px;
		top: 54.439px;
		overflow: visible;
	}
	#lichtenstein_2635596_5b1054773 {
		opacity: 1;
		fill: url(https://www.lichtensteinfoundation.org/wp-content/uploads/2014/06/ken.heyman-1_h400.jpg);
	}
	.lichtenstein_2635596_5b1054773 {
		position: absolute;
		overflow: visible;
		width: 1934px;
		height: 1259px;
		left: 0px;
		top: 15.561px;
	}
	#Rectangle_1 {
		opacity: 1;
		fill: rgba(255,255,255,1);
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 1829.364px;
		height: 449.177px;
		left: 51.23px;
		top: 0px;
		transform: rotate(-2deg);
		transform-origin: left;
	}
	#Rectangle_2 {
		opacity: 1;
		fill: rgba(255,255,255,1);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 1819.313px;
		height: 161.353px;
		left: 37.843px;
		top: 1150.884px;
		transform: rotate(2deg);
		transform-origin: left;
	}
	#Path_13 {
		opacity: 1;
		fill: rgba(188,26,22,1);
	}
	.Path_13 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 1190.061px;
		left: 80.5px;
		width: 1766.395px;
		height: 1341px;
	}
	#Line_1 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		top: 2430.061px;
		left: 80.5px;
		width: 1780.553px;
		height: 111.553px;
	}
	#Line_7 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_7 {
		overflow: visible;
		position: absolute;
		top: 1189.061px;
		left: 79.5px;
		width: 10px;
		height: 1352px;
	}
	#Line_8 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8 {
		overflow: visible;
		position: absolute;
		top: 1189.061px;
		left: 79.5px;
		width: 1781.349px;
		height: 73.349px;
	}
	#Line_9 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		top: 1252.061px;
		left: 1850.5px;
		width: 10px;
		height: 1188px;
	}
	#Born__October_27__1923_Manhatt {
		opacity: 1;
		position: absolute;
		left: 305px;
		top: 1335.561px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 1324px;
		height: 1019px;
		line-height: 130px;
		margin-top: -15px;
		text-align: center;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 100px;
		color: rgba(255,255,255,1);
	}
	#photo {
		opacity: 1;
		position: absolute;
		width: 1771px;
		height: 822px;
		left: 73.5px;
		top: 445.5px;
		overflow: visible;
	}
	#Line_22 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_22 {
		overflow: visible;
		position: absolute;
		top: 759px;
		left: 0px;
		width: 1781.349px;
		height: 73.349px;
	}
	#Line_23 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_23 {
		overflow: visible;
		position: absolute;
		top: 62px;
		left: 0px;
		width: 10px;
		height: 707px;
	}
	#Line_24 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_24 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 1771px;
		width: 10px;
		height: 832px;
	}
	#Line_8_A0_Line_35 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8_A0_Line_35 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 1px;
		width: 1780.344px;
		height: 72.344px;
	}
	#Profile {
		opacity: 1;
		position: absolute;
		width: 1771px;
		height: 228px;
		left: 73.5px;
		top: 248.5px;
		overflow: visible;
	}
	#Group_1 {
		opacity: 1;
		position: absolute;
		width: 1771px;
		height: 228px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_14 {
		opacity: 1;
		fill: rgba(188,26,22,1);
	}
	.Path_14 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 1px;
		left: 1px;
		width: 1767.061px;
		height: 224.835px;
	}
	#Line_25 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_25 {
		overflow: visible;
		position: absolute;
		top: 172px;
		left: 1px;
		width: 1780.311px;
		height: 66.311px;
	}
	#Line_8_A0_Line_37 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8_A0_Line_37 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 1781px;
		height: 10px;
	}
	#Line_26 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_26 {
		overflow: visible;
		position: absolute;
		top: 1px;
		left: 0px;
		width: 10px;
		height: 227px;
	}
	#Line_27 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 10px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_27 {
		overflow: visible;
		position: absolute;
		top: 1px;
		left: 1771px;
		width: 10px;
		height: 171px;
	}
	#PROFILE {
		opacity: 1;
		position: absolute;
		left: 696.5px;
		top: 38.5px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 374px;
		height: 118px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 120px;
		color: rgba(10,0,255,1);
	}
	#PROFILE_A0_Text_15 {
		opacity: 1;
		position: absolute;
		left: 704.5px;
		top: 43.5px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 374px;
		height: 118px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 120px;
		color: rgba(255,255,255,1);
	}
	#titile {
		opacity: 1;
		position: absolute;
		width: 854.681px;
		height: 98px;
		left: 533px;
		top: 54px;
		overflow: visible;
	}
	#ROY_LICHTENSTEIN {
		opacity: 1;
		position: absolute;
		left: 0px;
		top: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 848.681px;
		height: 98px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 150px;
		color: rgba(19,79,168,1);
	}
	#ROY_LICHTENSTEIN_A0_Text_17 {
		opacity: 1;
		position: absolute;
		left: 7px;
		top: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 848.681px;
		height: 98px;
		text-align: left;
		font-family: PROMOVA;
		font-style: normal;
		font-weight: normal;
		font-size: 150px;
		color: rgba(244,215,59,1);
	}